node_modules/
**/node_modules/
.env
.env.*
*.env
**/.env
**/.env.*
!.env.example
!**/.env.example
backend/dist/
dist/
**/dist/
frontend/public/bundle.js
frontend/public/bundle.js.map
frontend/public/bundle.css
frontend/public/bundle.css.map
